<%- include("partials/header"); %>

<div class="container  mt-2 ">
	<div class="row">
		<div class="col-lg-2">
		</div>
		<div class="col-lg-8 border rounded-sm border-dark pb-2">	
			<div class="text-center text-dark pb-3">
				<h1><strong>C o r s .</strong></h1>
				<hr>
			</div>
			<form method="POST" action="/login" onsubmit="return validateform()" name="login">
				<div class="form-group">
					<label for="username">Mobile Number :</label>
					<input id="username" name="username" type="text" placeholder="Number" class="form-control">
					<span id="usernameloc" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label for="UserType">User type :</label>
					<select class="form-control" id="UserType" placeholder="Choose one" name="usertype">
					  <option value="user">Patient</option>
					  <option value="doctor">Doctor</option>
					</select>
				</div>
				<div class="form-group">
					<label for="password">Password :</label>
					<input id="password" name="password" type="password" placeholder="Password" class="form-control">
					<span id="upassloc" class="text-danger"></span>
				</div>
				<p></p>
				<% if(check == true){%>
						<p class="text-danger">Incorrect Username or Password</p>
				<% } %>
				<p></p>
				<div class="text-center">
					<button type="submit" class="btn btn-dark btn-lg border rounded-pill" >Login</button>
				</div>
			</form>

			<form method="GET" action="/signup">
				<p></p>
				<div class="text-center">
					Dont have a account..?
					<input type="submit" value="Sign up" class="btn btn-link ">
				</div>
			</form>
		</div>
		<div class="col-lg-2">
		</div>
	</div>
</div>
<script>  
	function validateform(){  
	var username=document.login.username.value;    
	var password=document.login.password.value;  
	  
	if(username==null || username==""){
	  	
	  document.getElementById("usernameloc").innerHTML="Number can't be blank";   
	  return false;  
	}else if(username.length<10){
	  document.getElementById("usernameloc").innerHTML="Invalid Number";   
	  return false;  
	}
	else if(password.length<6){  
	  document.getElementById("usernameloc").innerHTML="";
	  document.getElementById("upassloc").innerHTML="Password Field Needs atleast 6 characters";
	  return false;  
	  }  
	}
</script>
<%- include("partials/footer"); %>